.navbar-nav > li > .dropdown-menu {
  padding: 10px
}

.navbar-brand {
  display: block;
  width: 250px;
  height: 60px;
  text-indent: -9999px;
  padding: 0 !important;
  margin-left: -10.0% !important;
  background: transparent url("FlytLogos/flyt_logo_white_small.png") no-repeat 0px 5px !important;
}

.wy-plain-list-disc li, .rst-content .section ul li, .rst-content .toctree-wrapper ul li, article ul li{
	list-style: outside none disc;
	margin-left: 24px;
}

.bs-sidenav {
    margin-top: 30px;
    margin-bottom: 30px;
    text-shadow: 0px 1px 0px #FFF;
    background-color: #F7F5FA;
    border-radius: 5px;
    padding: 10px !important;
    margin-left: -10%;
}

body {
    font-family: Georgia,"Times New Roman",Times,serif;
    line-height: 1.12 !important;
    color: #555 !important;
    font-size: 18px !important;
}